<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-underline">Nossa Missão</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card border-0 shadow impact-card p-3">
          <div class="card-body">
            <i class="bi bi-laptop"></i>
            <h3 class="card-title fw-bold h5">Foco em Home Office</h3>
            <p class="card-text card-missao-text text-muted">
              Aprenda as habilidades digitais essenciais para conquistar e prosperar em vagas
              remotas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card border-0 shadow impact-card p-3">
          <div class="card-body">
            <i class="bi bi-person-workspace"></i>
            <h3 class="card-title fw-bold h5">Nova Carreira</h3>
            <p class="card-text card-missao-text text-muted">
              Facilitamos sua transição de área, do primeiro emprego à atualização profissional.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card border-0 shadow impact-card p-3">
          <div class="card-body">
            <i class="bi bi-people"></i>
            <h3 class="card-title fw-bold h5">Acesso Gratuito</h3>
            <p class="card-text card-missao-text text-muted">
              Comprometimento em catalogar e destacar o melhor do conteúdo educacional gratuito
              e de qualidade.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
