DB_HOST=host
DB_DATABASE=nome_do_banco
DB_USER=usuario
DB_PASSWORD=senha_usuario

MYSQL_ROOT_PASSWORD=senha_root
MYSQL_DATABASE=nome_do_banco
MYSQL_USER=usuario
MYSQL_PASSWORD=senha

USUARIO_EMAIL=email_admin
USUARIO_SENHA=senha_admin