@if (aberto) {
  <div
    class="offcanvas-backdrop fade show"
    (click)="fechar()">
  </div>
}
<div
  class="offcanvas offcanvas-end shadow-lg border border-black"
  data-bs-scroll="true" tabindex="-1"
  id="carrinho-de-compras"
  [class.show]="aberto"
>
  <div class="offcanvas-header border-bottom">
    <h1 class="offcanvas-title">
      Meu carrinho
    </h1>
    <button
      type="button"
      class="btn-close"
      (click)="fechar()">
    </button>
  </div>
  <div class="offcanvas-body">

    <!-- Feedback ao usuário -->
    <app-alerta [tipo]="tipoMensagem" [texto]="mensagem" />

    @if (carrinho.cursos.length === 0) {
      <div class="text-center text-muted mt-4">
        Seu carrinho está vazio.
      </div>
    }
    @for (curso of carrinho.cursos; track curso.id) {
      <div class="row shadow-sm p-2 my-2">
        <div class="col-8">{{ curso.nome }}</div>
        <div class="col-3">{{ curso.preco | currency:'BRL':'symbol':'1.2-2'  }}</div>
        <div class="col-1">
          <i
            class="bi bi-x"
            role="button"
            (click)="removerCurso(curso.id)"
          ></i>
        </div>
      </div>
    }
  </div>
  <div class="border-top p-3 bg-white">
    <div class="d-flex justify-content-between">
      <span>Itens</span>
      <span>{{ carrinho.cursos.length }}</span>
    </div>

    <div class="d-flex justify-content-between my-2">
      <strong>Total</strong>
      <strong>
        {{ carrinho.total | currency:'BRL' }}
      </strong>
    </div>

    <button
      class="btn btn-success w-100"
      [disabled]="carrinho.cursos.length === 0"
      (click)="confirmarCompra()">
      Finalizar pedido
    </button>
  </div>
</div>
