<section class="py-4" id="sobre-section">
  <div class="container py-5">
    <h1 class="text-center mb-3 fw-bold text-underline">Sobre o Capacita+</h1>
    <h2 class="text-center mb-3 fw-semibold text-primary">
      Um portal livre de curadoria para cursos de capacitação
    </h2>
    <div id="sobre-section-text" class="mx-auto">
      <p class="mb-3">
        O objetivo do Capacita+ é reunir indicações de cursos gratuitos e plataformas de
        aprendizado.
      </p>
      <p class="mb-3">
        Nosso foco é em tecnologia, mas abrangemos também outras áreas de conhecimento.
      </p>
      <p class="mb-3">
        Somos, essencialmente, um portal de curadoria, isto é, não criamos cursos, mas
        organizamos, centralizamos e indicamos conteúdos de capacitação, sejam eles gratuitos ou
        acessíveis, para quem busca se atualizar profissionalmente.
      </p>
      <p class="mb-3 text-center">Sintam-se motivados a trilhar o caminho do conhecimento.</p>
      <p class="mb-3 fw-semibold text-end">Equipe do Capacita+</p>
    </div>
  </div>
</section>
