<header>
  <h1 id="cursos-header" class="text-center mt-4 text-underline pt-4">
    Cursos disponíveis
  </h1>
</header>

<section id="cursos-section">
  <div class="container">
    <div class="row">
      @if (this.cursos.length > 0) {
        <div class="col-lg-3 col-md-4 mb-4">
          <aside class="sticky-lg-top">

            <app-curso-search-bar (buscaChange)="onBuscaChange($event)" />

            <app-custo-filter (custoChange)="onCustoChange($event)"  />

            <app-nivel-filter (nivelChange)="onNivelChange($event)" />

            <app-categoria-filter
              [categorias]="categorias"
              (categoriaChange)="onCategoriaChange()"
            />

            <button type="button"
              id="btn-limpar-filtros"
              class="btn btn-outline-dark btn-sm mt-3 w-100"
              (click)="limparFiltros()"
            >
              Limpar Filtros
            </button>


          </aside>
        </div>

        <div class="col-lg-9 col-md-8 mt-3 py-3">

          <div id="lista-cursos" class="row align-items-stretch">
            @for (curso of cursosExibidos; track curso.id) {
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <app-curso-card [curso]="curso" />
              </div>
            }
            @empty {
              <p class="alert alert-info">Nenhum curso encontrado.</p>
            }
          </div>
        </div>
      } @else {
        <div class="col-12 col-lg-8 col-md-10 col-sm-12 my-4 mx-auto">
          <p class="alert alert-info">
            Nenhum curso disponível no momento.
          </p>
        </div>
      }
    </div>
  </div>
</section>
