<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" routerLink="/">
      Capacita+
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @for (item of itensNavbar(); track item.label) {
          <li class="my-1 ms-2">
            @if (item.rota) {
              <a
                class="btn btn-sm btn-outline-dark shadow-sm w-100"
                [routerLink]="item.rota"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i [class]="item.icone"></i> {{ item.label }}
              </a>
            } @else if (item.acao) {
              <button
                class="btn btn-sm btn-outline-dark shadow-sm w-100"
                (click)="executarAcao(item.acao)"
              >
                <i [class]="item.icone"></i> {{ item.label }}
              </button>
            }
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
