<header class="hero-section">
  <div class="container text-center">
    <h1 class="display-4 fw-bolder text-dark">
      Capacite-se para o Futuro.
      <br />
      <span class="text-primary">Comece por Aqui.</span>
    </h1>
    <p class="lead mt-4 text-muted">
      Encontre cursos gratuitos e acessíveis para acelerar sua carreira no mercado de
      tecnologia.
    </p>
    <a
      routerLink="/cursos"
      class="btn btn-lg btn-success mt-4 shadow-lg"
      data-cy="btn-explorar-cursos"
    >
      Explorar cursos &nbsp; <i class="bi bi-search"></i>
    </a>
  </div>
</header>
