/* Melhor contraste na navegação dos formulários */
.formulario-link {
  color: #0645ad;
}

.formulario-link a:hover,
.formulario-link a:focus {
  color: #0b0080;
}

.form-card {
  border-radius: 20px 20px 20px 20px;
}
