<div class="container my-4 mx-auto">
  <form id="form-login" formGroup="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        autofocus="on"
        type="email"
        name="email"
        id="email"
        formControlName="email"
        class="form-control"
        required
        placeholder="exemplo@email.com"
      />
      @if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
        E-mail é obrigatório.
      }
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input
        type="password"
        id="senha" name="senha"
        formControlName="senha"
        class="form-control" required placeholder="••••••••"
      />
      @if (formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched) {
        Senha é obrigatória.
      }
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="formLogin.invalid">
      Entrar
    </button>
  </form>
</div>
