<div class="card h-100 shadow-sm card-hover">
  <div class="card-body d-flex flex-column">
    <h2 class="card-title fw-bold">
      {{ curso.nome }}
    </h2>
    <div class="mb-2 d-flex gap-2 flex-wrap">
      <span class="badge bg-primary">{{ curso.categoria.nome }}</span>
      <span class="badge bg-secondary">{{ nivelLabel(curso.nivel) }}</span>
      <span class="badge bg-success">
      @if (emPromocao) {
        <s>R$ {{ curso.preco_original }}</s> &nbsp; R$ {{ curso.preco }}
      } @else {
        R$ {{ curso.preco }}
      }
      </span>
    </div>
    <p class="card-text text-secondary flex-grow-1 card-curso-descricao">
      {{ curso.descricao ?? '' }}
    </p>
    <app-botao-adicionar-ao-carrinho [cursoId]="curso.id" />
  </div>
</div>
